:root {
  --map-border-color: #c8c2bc;
}

.dark {
  --map-border-color: #555555;
}

.map-root .map-country {
  stroke-linecap: round;
  stroke-linejoin: round;
  filter: url(#rough);
  transition: fill 0.2s ease;
}
